.header {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: lowercase;
}
