.footer__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/*Responsividade*/
@media screen and (min-width: 0px) {
    .footer__list{
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .footer__list{
        justify-content: space-between;
    }
}
