.book__button {
    background-color: #FF7878;
    border: none;
    border-radius: 5px;
    color: #FDFDFD;
    padding: 1rem;
    transition: all 0.1s ease-in-out;
    width: 100%;
}

.book__button:hover{
    background-color: #ff4040;
    cursor: pointer;
}
