.me__image{
    background: url("../../Images/Me.jpg") no-repeat center;
    background-size: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}